header{
    position: relative;
    h3 {
        ion-icon{
            vertical-align: middle;
            padding-right: 10px;
        }
    }

    a{
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 2.5rem;
    }
}

#tbl-books{
    th:first-child,
    tbody td:first-child{
        max-width: 170px;
        min-width: 110px;
        // width: 75px;
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        
        text-align: left;
    }

    th:nth-child(2),
    tbody td:nth-child(2){
        width: 250px;
    }

    th:last-child,
    tbody td:last-child{
        width: 150px;
        text-align: center;
    }
    
    &.empty tfoot {
        display: table-footer-group;
      
    }
    
    tfoot{
        display: none;
    }
    
    tbody tr:focus{
      background-color: rgb(155, 155, 14);
    }
}



#loader{
    display: flex;
    justify-content: center;
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid rgb(12, 37, 41);
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: rgb(42, 109, 121) transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
}





#frm-book-detail {
  .btn {
    ion-icon {
      font-size: 1.3em;
      vertical-align: sub;
    }
  }

  &.new{
    #btn-edit, #edit-buttons-wrapper{
      display: none;
    }

    #btn-save{
      display: inline !important;
    }

    .modal-body form > div:first-child {
      display: none;
    }
  }

  &.edit{
    #btn-edit, #btn-save{
       display: none;
    }

    #edit-buttons-wrapper{
      display: block !important;

      ion-icon {
        padding-right: 5px;
      }
    }
  }

}


#overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(95, 100, 102, 0.726);
  z-index: 9999;

  h2{
    color: #fff;
  }
}

#overlay-loader{
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(2);
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  
}
